*{
    margin:0px;
    padding:0px;
}
body{
    background:black;
}
#background-gif-img{
    color:white;
}
#background{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#information{
    text-align:center;
}
#Details{
color:cyan;
text-decoration: none;
text-align: center;
}
h1{
    color: #fff;
}
h2{
    color: #fff;
}
p{
    color:chartreuse;
}
